venv
tmp/
htmlcov/
__pycache__/
ConvAssist.egg-info/
tests/test_data/dbs/*
build/
dist/

.coverage
.DS_Store
results/
.mypy_cache/
.pytest_cache/
*.log
logs/
interfaces/Demos/continuous_predict/resources/personalized/canned_ngram.db
interfaces/Demos/continuous_predict/resources/personalized/canned_sentences.db
interfaces/Demos/continuous_predict/resources/personalized/sent_database.db
interfaces/Demos/continuous_predict/resources/personalized/all_aac_embeddings.pkl
interfaces/Demos/continuous_predict/resources/personalized/all_aac_semanticSearch.index
