venv
tmp/
htmlcov/
__pycache__/
ConvAssist.egg-info/
tests/test_data/dbs/*
build/
dist/

.coverage*
.DS_Store
results/
.mypy_cache/
.pytest_cache/
*.log
logs/
interfaces/Demos/continuous_predict/resources/personalized
interfaces/Demos/continuous_predict/resources/static_resources
coverage.xml
convassist/.coverage.*
tests/test_data/static
tests/test_data/personalized
interfaces/Demos/predictor_editor
interfaces/Demos/prompter
