venv
tmp/
htmlcov/
__pycache__/
ConvAssist.egg-info/
build/
dist/

# Ignore 3rd party resources
3rd_party_resources/aac_dataset
3rd_party_resources/daily_dialog

# Ignore generated resources
*.db
*_Data.txt
.coverage*
.DS_Store
results/
.mypy_cache/
.pytest_cache/
*.log
logs/
interfaces/Demos/continuous_predict/resources/personalized
interfaces/Demos/continuous_predict/resources/static_resources
interfaces/Demos/continuous_predict/acat
interfaces/Demos/prompter/
coverage.xml
convassist/.coverage.*
convassist/tests/test_data/*
